.category {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.categoryDefinition {
    align-items: center;
    display: flex;
    margin: 1em;
}

.categoryDescription {
    margin: 1em;
}
.categoryTitle {
    display: flex;
    justify-content: center;
}

.descriptionContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2em;
    padding-top: 0;
    width: 100vw;
}

.linkContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.productContainer {
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.productType {
    height: 12vh;
    width: 90%;
}

.sourcesContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.definitionHeading, .descriptionHeading, .sourcesTitle {
    background-color: #5E6353;
    margin-bottom: 0;
}

@media screen and (min-width: 950px) {
  .productContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 5rem;
  }
}