nav {
    background: #1F0800;
    color: #F4E9E1;
    display: flex;
    padding-left: 1em;
    padding-right: 1em;
}

nav ul {
    display: flex;
    margin: 0;
}

nav ul li {
    list-style-type: none;
}

nav ul li:first-child {
    margin-right: auto;
}

.navText {
    font-weight: bold;
    font-size: 0.75rem;
}

nav a {
    color:#F4E9E1;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: right;
    padding: 0.4em;
}

nav a:active {
    background-color: #A63D10;
}

nav a:hover {
    background-color: #F4E9E1;
    color: #1F0800;
}

.categoryNavList {
    display: flex;
    justify-content: flex-end;
    width: 90vw;
}
.categoryNavList a {
    margin-left: 1rem;
}

@media screen and (min-width: 800px) {
    .navText {
        font-size: 1rem;
    }
  }